
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #888;
}

.header a {
  color: white;
}

.header a:hover {
text-decoration: underline;
}

.header {
    display: inline-block;
  color: white;
  font-size: 90px;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(5, 92, 5);
  background-image: url(bubble.svg);
  min-height: 112px;
  min-width: 650px;
  width: 100%;
  border: 0px solid black;
  border-radius: 20px;
}

#sidebar {
  background-image: linear-gradient(rgb(171, 206, 178), rgb(155, 231, 140));
  flex: 1;
  padding: 0 10px 0 10px;
  border: 0px solid black;
  border-radius: 10px;
  font-family: 'Questrial', serif;
  color: rgb(27, 90, 50);
  min-width: 210px;
}

#sidebar a {
  color: rgb(27, 90, 50);
  font-weight: bold;
}

#sidebar a:hover {
  text-decoration: underline;
  opacity: 0.5;
}

.sidebar-title {
  text-decoration: underline;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 3px;
}

li {
  padding: 8px;
}

.line {
  height: 1px;
  width: 50%;
  border-top: 1px dotted rgb(121, 207, 121);
  border-bottom: 1px dotted rgb(121, 207, 121);
  margin: 3px 0 3px 0;
}

#comments-wrapper {
  background-image: linear-gradient(rgb(209, 236, 215), rgb(199, 255, 188));
  flex: 1;
  padding: 0 12px 12px 12px;
  border: 0px solid black;
  border-radius: 10px;
  font-family: 'Questrial', serif;
  color: rgb(27, 90, 50);
  min-width: 630px;
  margin: 0 0 10px 0;
}

#comments-wrapper a {
  color: rgb(27, 90, 50);
  font-weight: bold;
}

#comments-wrapper a:hover {
  text-decoration: underline;
}

#comments {
  text-align: left;
  padding: 6px 0 0 0;
}

#comment-list {
  text-align: left;
}

.comment-email {
  color: rgb(0, 194, 81);
}

.comment-title {
  font-weight: bold;
  color: rgb(0, 114, 0);
  margin: 7px 0 0 0;
}

.comment-body {
  color: green;
  margin: 5px 0 22px 0;
}

.restaraunt {
  padding-top: 7px;
}

#map {
  height: auto;
  min-height: 570px;
}

#single-map {
  height: auto;
  min-height: 360px;
}

#map, #single-map {
  width: 500px;
  flex: 4;
  margin: 0 0 0 10px;
  padding-right: 10px;
  border: 0px solid black;
  border-radius: 10px;
  min-width: 400px;
}

#container {
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 0;
  justify-content: space-between;
  border: 0px solid black;
  width: 100%;
  margin: 0;
  min-width: 620px;
}





#footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-image: linear-gradient(rgb(171, 206, 178), rgb(155, 231, 140));
  border: 0px solid black;
  width: 100%;
  font-family: 'Questrial', serif;
  border-radius: 10px;
  min-width: 650px;
}

.centered {
  align-self: center;
  text-align: center;
}

.section-title {
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.big-fancy-button {
  background-color: rgb(15, 146, 21);
  margin: 20px 0 20px 0;
  border: 0px;
  color: rgba(243, 237, 237, 0.884);
  border-radius: 3px;
  padding: 9px 25px 9px 25px;
  font-size: 9px;
  font-weight: 800;
}

.big-fancy-button:hover {
  filter: brightness(130%);
  background-color: rgba(91, 255, 85, 0.863);
}

.flex-row {
  display: flex;
  flex-direction: column;
  border: 0px solid black;
}

.contact-form {
  display: flex;
  flex-direction: column;
  border: 0px solid black;
  min-height: 28vh;
  min-width: 40vw;
  padding: 16px 10px 10px 10px;
  justify-content: center;
}

.form-top {
  display: flex;
  justify-content: space-between;
  border: 0px solid black;
  width: 101.5%;
}

.left-span {
  width: 49%;
  margin: 2px 1% 5px 0;
  border: 0px solid black;
}

.right-span {
  width: 49%;
  margin: 2px 0 5px 1%;
  border: 0px solid black;
}

#name {
  width: 98%;
}

#email {
  width: 98%;
}

textarea {
  width: 100%;
}

.contact-links {
  display: flex;
  flex-direction: column;
  border: 0px solid black;
  min-height: 28vh;
  min-width: 40vw;
  margin: 10px 10px 30px 10px;
  padding: 8px;
  justify-content: center;
}

.contact-left {
  display: flex;
  flex-direction: column;
  border: 0px solid black;
  padding: 10px;
  width: 100%;
}

.contact-right {
  display: flex;
  flex-direction: column;
  border: 0px solid black;
  padding: 10px;
  width: 100%;
}

.fa {
  padding: 7px 12.5px 6px 6.5px;
  font-size: 6px;
  width: 8px;
  text-align: center;
  text-decoration: none;
  margin: 7px;
  border-radius: 50%;
  background: rgb(15, 146, 21);
}

.fa:hover {
    opacity: 0.7;
}

.fa-home {
  color: white;
}

.fa-phone {
  color: white;
}

.fa-envelope {
  color: white;
  font-size: 4px;
  padding: 6px 13.5px 7px 5.5px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}


.left-link-span {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  border: 0px solid black;
  padding-bottom: 8px;
}

.right-link-span {
  display: flex;
  flex-direction: column;
  flex: 9;
  justify-content: center;
  border: 0px solid black;
  padding-bottom: 8px;
}


@media screen and (min-width: 670px) {
  body {
    min-width: 680px;
  }

  .flex-row {
    flex-direction: row;
  }

  .contact-right {
    width: 50%
  }

  .contact-left {
    width: 50%
  }
}